<nav>
    <div style="display: flex; gap: 15px;" class="left">
        <img src="../static/images/geo flag.jpg" alt="">
        <a href="#">+995 32 2 830 280</a>
        <a style="color: orange;" href="/brands">ბრენდები</a>      
    <a href="/saati">საათები და სამკაულები</a>
    <a href="/products">პროდუქტები</a>
    </div>
    <div style="margin-right: 200px;" class="middle">
        <a href="/"><img src="../static/images/time.svg" alt=""></a>
    </div>
    <div class="right">
        <a href="/cart">კალათა <i style="font-size: 23px;" class="bi bi-cart"></i></a>
        <div class="log">
            {% if current_user.is_authenticated %}
                <a href="/logout">გამოსვლა &nbsp; <i style="font-size: 27px;" class="bi bi-box-arrow-in-left"></i></a>
            {% else %}
            <a href="/authorization"><i class="bi bi-person-fill"></i> შესვლა</a>/ <a href="/registration">რეგისტრაცია</a>
            {% endif %}
        </div>
        <i class="bi bi-heart-fill"></i>
        <i class="bi bi-bar-chart-line-fill"></i>
        <i class="bi bi-bag-fill"></i>
    </div>
</nav>